<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>List of Contestants — Mathematical Olympiads Discord Server</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>List of contestants</h2>
	<table id="table">
	<thead>
	<tr>
  <th class="sort" data-sort="UserID" rowspan="2">UserID</th>
  <th class="sort" data-sort="Contestant" rowspan="2">Contestant</th>
  <th colspan="4">Awards</th>
  <th class="sort" data-sort="Participations" rowspan="2">Participations</th>
  </tr>
  <tr>
  <th class="sort" data-sort="G" title="Gold medal">G</th>
  <th class="sort" data-sort="S" title="Silver medal">S</th>
  <th class="sort" data-sort="B" title="Bronze medal">B</th>
  <th class="sort" data-sort="HM" title="Honourable mention">HM</th>
  </tr>
	</thead>
	<tbody class="list">
	__TABLE__
	</tbody>
  </table>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
  <script>
      var options = {
          valueNames: ["UserID", "Contestant", "G", "S", "B", "HM", "Participations"]
      };
      var userList = new List("table", options);
  </script>

</div>
__FOOTER__
</body>
</html>