<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>__NAME__'s profile - Mathematical Olympiads Discord Server</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
    <h2>__NAME__'s profile</h2>
    <h3>
    <a class="highlight">Results in Contests</a>
    </h3>
    <dl class="wide">
    <dt>Total Results in Advanced/Special Contests</dt>
    <dd>Gold medals: __GOLD__. Silver medals: __SILVER__. Bronze medals: __BRONZE__. Honourable mentions: __HONOURABLE_MENTION__. Participations: __PARTICIPATIONS__</dd>
    </dl>
    <dl class="wide"><dt>Beginner Contests</dt></dl>
        __TABLE_HEADER_BEG__
        __TABLE_BEG__
    </table>
    <dl class="wide"><dt>Intermediate Contests</dt></dl>
        __TABLE_HEADER_INT__
        __TABLE_INT__
    </table>
    <dl class="wide"><dt>Advanced Contests</dt></dl>
        __TABLE_HEADER_ADV__
        __TABLE_ADV__
    </table>
    <dl class="wide"><dt>MODSMO</dt></dl>
        __TABLE_HEADER_MODSMO__
        __TABLE_MODSMO__
    </table>
    <dl class="wide"><dt>Special Contests</dt></dl>
        __TABLE_HEADER_SPECIAL__
        __TABLE_SPECIAL__
    </table>
    </dl>
</div>
__FOOTER__
</body>
</html>
