<div id="header">
    <div id="h1">
        <h1><a href="__ROOT__/__INDEX__">Mathematical Olympiads Discord Server</a></h1>
    </div>
    <div id="sub">
        <span class="previous"><a href="__ROOT__/timeline/__HEADER_PREVIOUS_MONTH__">__HEADER_PREVIOUS_MONTH_NAME__</a></span>
        <span class="img"><a href="__ROOT__/__INDEX__"><img src="__ROOT__/img/logo.png" alt="MODS" width="30" height="22"/></a></span>
        <span class="next"><a href="__ROOT__/timeline/__HEADER_NEXT_MONTH__">__HEADER_NEXT_MONTH_NAME__</a></span>
    </div>
</div>
<div id="sidebar">
    <ul>
        <li><a href="__ROOT__/timeline/__INDEX__" class="__HIGHLIGHT_1__">Timeline</a></li>
        <li><a href="__ROOT__/contestants/__INDEX__" class="__HIGHLIGHT_2__">Contestants</a></li>
        <li><a href="__ROOT__/search/__INDEX__" class="__HIGHLIGHT_3__">Search</a></li>
        <li><a target="_blank" href="https://github.com/Mathematical-Olympiads-Discord-Server/files/tree/master/Contests">Problems</a></li>
        <li><a target="_blank" href="http://bit.ly/MODS_discord_guide">MODS Discord Guide (pdf)</a></li>
    </ul>
</div>
