<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>Mathematical Olympiads Discord Server</title>
</head>
<body>
__HEADER_TOP__
<div id="main">
	<canvas id="canvas" width="400" height="300"></canvas>
	<br />
	<div class="intro">
		We are a server dedicated to exploring beautiful maths problems and learning how to solve them. We welcome people of all ages, abilities, and aspirations. While many of our members have participated in contests ranging from local competitions to the IMO, we believe that the awesomeness of mathematics can be enjoyed by everyone!
		<br />
		You can join the Discord server through the following invite link: <a href="https://discord.gg/m22vNrX">https://discord.gg/m22vNrX</a>
	</div>
	<br />
	<!--
	<div class="intro">
		<a href="http://ipho-unofficial.org/">ipho-unofficial.org</a> is an online resource for past and upcoming Physics Olympiads.
        It is unofficial and non-profit, and does not hold any rights over its contents. The data is taken from various websites including <a href="http://ipho.org/" target="_blank">ipho.org</a>, which is the official webpage of IPhO.
		The theme and design of the webpage is based on <a href="http://imo-official.org/" target="_blank">imo-official.org</a>.
        <br />
        <a href="http://ipho-unofficial.org/">ipho-unofficial.org</a> is an open source project. <a href="https://github.com/abeakkas/ipho-unofficial.org" target="_blank">View on Github</a>.
	</div>
	<br />
	-->
</div>
__FOOTER__
<script>
const canvas = document.getElementById("canvas")
const ctx = canvas.getContext("2d")
const img = new Image()
img.src = "__ROOT__/img/MODS_welcome.png"
img.onload = () => {
	ctx.drawImage(img, 0, 0)
}
</script>
</body>
</html>
