<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>Search — Mathematical Olympiads Discord Server</title>
<script src="asciify.js"></script>
<script src="search.js"></script>
</head>
<body>
__HEADER_SIDE__
<div id="main">
    <h2>Search</h2>
    <p>
    <input type="text" maxlength="30" class="inptText" size="24" id="search_query" onkeydown="if(event.keyCode == 13) { mods_search(); }" />
    <input type="submit" value="Search" class="btnSubmit" onclick="mods_search()" />
    <span>(Search the MODS database for a particular contestant)</span>
    </p>
    <p><b>This feature is work in progress!</b></p>
    <table>
        <thead><tr><th>UserID</th><th>Contestant</th><th>Contest</th><th>Total</th><th>Rank</th><th>Award</th></tr></thead>
    <tbody id="search_results">
    </tbody>
    </table>
</div>
__FOOTER__
<table>

<tr style="display: none;" id="t_row">
    <td><a href="__ROOT__/contestants/{{userId}}/__INDEX__">{{userId}}</a></td>
    <td><a href="__ROOT__/contestants/{{userId}}/__INDEX__">{{name}}</a></td>
    <td><a href="__ROOT__/timeline/{{month}}/__INDEX__">{{contest}}</a></td>
    <td align="right">{{totalScore}}</td>
    <td align="right">{{rank}}</td>
    <td>{{medal}}</td>
</tr>
</table>
<div style="display: none;" id="t_gold"><img src="__ROOT__/img/gold.png" width="9" height="9"> Gold Medal</div>
<div style="display: none;" id="t_silver"><img src="__ROOT__/img/silver.png" width="9" height="9"> Silver Medal</div>
<div style="display: none;" id="t_bronze"><img src="__ROOT__/img/bronze.png" width="9" height="9"> Bronze Medal</div>
<div style="display: none;" id="t_honourable"><img src="__ROOT__/img/honourable.png" width="9" height="9"> Honourable Mention</div>
</body>
</html>

