<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>MODS __MONTH__ Contest - Mathematical Olympiads Discord Server</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>
    <a href="__ROOT__/timeline/__PREVIOUS_MONTH__/__INDEX__" class="pointer" style="__PREVIOUS_MONTH_STYLE__">&#9668;</a>
	<a href="__INDEX__" class="highlight">MODS __MONTH__ Contest</a>
	<a href="__ROOT__/timeline/__NEXT_MONTH__/__INDEX__" class="pointer" style="__NEXT_MONTH_STYLE__">&#9658;</a>
	</h2>
	<h3 class="hideprn">
	<a href="individual__HTML_EXT__">Individual results</a>
	</h3>
	<dl class="normal">
        <dt>General information</dt>
        <dd style="__P_STUDENT_STYLE__">Number of contestants: __P_STUDENT__.</dd>
        <div style="__AWARDS_STYLE__">
            <dt>Awards</dt>
                <dd>Gold medals: __GOLD__.<br>
                Silver medals: __SILVER__.<br>
                Bronze medals: __BRONZE__.<br>
                Honourable mentions: __HONOURABLE__.</dd>
        </div>
	</dl>
</div>
__FOOTER__
</body>
</html>