<thead><tr>
  <th class="sort" data-sort="UserID" style="__USERINFO_STYLE__">UserID</th>
  <th class="sort" data-sort="Contestant" style="__USERINFO_STYLE__">Contestant</th>
  <th class="sort" data-sort="P1">P1</th>
  <th class="sort" data-sort="P2">P2</th>
  <th class="sort" data-sort="P3">P3</th>
  <th class="sort" data-sort="P4">P4</th>
  <th class="sort" data-sort="Total">Total</th>
  <th class="sort" data-sort="Rank">Rank</th>
  <th class="sort" data-sort="Percentile" style="__PERCENTILE_STYLE__">Percentile</th>
  <th data-sort="Award">Award</th>
</tr></thead>