<tr>
  <td class="UserID" style="__USERINFO_STYLE__"><a href="__ROOT__/contestants/__USER_ID__/__INDEX__">__USER_ID__</a></td>
<td class="Contestant" style="__USERINFO_STYLE__"><a content="__NAME__" href="__ROOT__/contestants/__USER_ID__/__INDEX__">__NAME__</a></td>
<td class="P1" align="center">__SCORE_1__</td>
<td class="P2" align="center">__SCORE_2__</td>
<td class="P3" align="center">__SCORE_3__</td>
<td class="P4" align="center">__SCORE_4__</td>
<td class="P5" align="center">__SCORE_5__</td>
<td class="P6" align="center">__SCORE_6__</td>
<td class="P7" align="center">__SCORE_7__</td>
<td class="P8" align="center">__SCORE_8__</td>
<td class="Total" align="right">__TOTAL_SCORE__</td>
<td class="Rank" align="right">__RANK__</td>
<td class="Percentile" align="right" style="__PERCENTILE_STYLE__">__PERCENTILE__</td>
<td class="Award">__MEDAL__</td>
</tr>
