<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8" />
<link href="__ROOT__/img/fav-logo.ico" rel="shortcut icon" type="image/x-icon" />
<link href="__ROOT__/css/design.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/css/print.css" rel="stylesheet" type="text/css" media="print" />
<title>Contests Timeline — Mathematical Olympiads Discord Server</title>
</head>
<body>
__HEADER_SIDE__
<div id="main">
	<h2>Timeline</h2>
	<table id="table">
	<thead>
	<tr>
	<th class="sort" data-sort="number">#</th>
	<th class="sort" data-sort="contest" class="highlightDown">Contest</th>
	<th class="sort" data-sort="date">Date</th>
	<th class="sort" data-sort="contestants">Contestants</tr>
	</thead>
	<tbody class="list">
	__TABLE__
	</tbody>
	</table>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
	<script>
		var options = {
			valueNames: ["number", "contest", "date", "contestants"]
		};
		var userList = new List("table", options);
	</script>

</div>
__FOOTER__
</body>
</html>
